
@model Cart
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<form method = "post" asp-action="Remove"> 
    <input asp-for="itemId" hidden />

    <div class = "border p-3 mt-4">
        <div class = "rpw pb-2">
            <h2 class ="text-primary">
                Delete Existing Item From Cart
            </h2>
        </div>

         <div class = "mb-3">
            <label asp-for="itemTitle">  </label>
            <input asp-for="itemTitle" disabled class = "form-control" />
           
        </div>

         <div class = "mb-3">
            <label asp-for="category">  </label>
            <input asp-for="category" disabled class = "form-control" />
            
        </div>

         <div class = "mb-3">
            <label asp-for="description">  </label>
            <input asp-for="description" disabled class = "form-control" />
            
        </div>

        <div class = "mb-3">
            <label asp-for="price">  </label>
            <input asp-for="price" disabled class = "form-control" />

        </div>

        <button type = "submit" class = " btn btn-primary" style="width:150px">Remove</button>
   <a asp-controller = "Cart" asp-action="Index" class=" btn btn-secondary" style="width:150px">
       Back To Cart
   </a>
    </div>
</form> 

@section Scripts
{
    @{
         <partial name="_ValidationScriptsPartial" />
    }
}

