
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="text-center">
    <h1> Welcome  to KMA Stationery Store</h1>
    <h2> Purchase your favorite stationery supplies!</h2>
    <img src = "https://franchiseindia.s3.ap-south-1.amazonaws.com/uploads/content/edu/art/5c9deaf2549db.jpeg" alt = "HomeScreen Image" style = "width:900px;height:400px" />
   
</div>